*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content {
  width: 1140px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 30px;
}

.result__video-container {
  min-width: 711px;
  min-height: 386px;
  margin-bottom: 16px;
  object-fit: contain;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 5px;
}

.content__details {
  width: 100%;
  height: 100%;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: scroll;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  min-width: 0;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  min-width: 0;
  width: 196px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 0;
}

.content__video-card-thumbnail {
  height: 103px;
  width: 194px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}